body {
   background: url('https://media1.giphy.com/media/l4FGqdRwTfmrJEzdu/giphy.gif') !important;
}
 
#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}') !important;
}

#masthead,
#primary {
    -webkit-filter: invert(100%)
    filter: invert(100%)
    background-color: #fff;
    padding: 20px !
}
#masthead {
    background: none; 
}
#masthead img, #primary img {
    -webkit-filter: invert(100%)
        filter: invert(100%)

}
a {color: aquamarine !important};